@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary-color: #141F46;
  --text-color: #333333;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 1.6rem;
  margin: 0;
}

// Responsive
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

// Components
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: white;
    color: var(--primary-color);
  }
}