.main {
  &__social {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 99;
    display: flex;
    flex-direction: column;

    &--icon {
      margin-bottom: 5px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateX(-8px);
      }
    }
  }
}
