@use "../../scss/mixins" as mixin; 

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: auto;
    object-fit: cover;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__menu {
    font-weight: bold;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li a {
        display: inline-block;
        padding: 20px;

        &:hover {
          background-color: #ebebeb;
        }
      }
    }

    @include mixin.reponsive(lg) {
      display: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: 20px;

    .anticon {
      display: inline-block;
      padding: 20px;

      &:hover {
        background-color: #ebebeb;
      }
    }

    .anticon-menu {
      display: none;

      @include mixin.reponsive(lg) {
        display: block;
        cursor: pointer;
      }
    }
  }

  .display-none {
    display: none;
  }

  .overplay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;

    .anticon-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 26px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 40px;
      width: 100%;

      li {

        a {
          font-weight: bold;
          display: block;
          width: 100%;
          padding: 20px;

          &:hover {
            background-color: #ebebeb;
          }
        }
      } 
    }
  }


}
